[submodule "Framework"]
	path = Framework
	url = https://github.com/JimmyLord/MyFramework.git
[submodule "SharedGameCode"]
	path = SharedGameCode
	url = https://github.com/JimmyLord/SharedGameCode.git
[submodule "wxWidgets"]
	path = wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
